h1,
p,
span,
h3 {
  background: teal;

}

h1 {
  display: inline-block;
}

span {
  display: block;
}

h3 {
  display: none;
}

a {
  background: teal;
}

a.btn {
  background: violet;
  color: #fff;
  padding: 10px 25px;
  display: inline-block;
}