table,
th,
td {

  border: 1px dotted aqua;
  border-collapse: collapse;
  padding: 5px 10px;

}

table {
  width: 100%;
}

th {
  height: 50px;
  text-align: left;
  background: green;
  color: red;

}

td {
  background: yellow;
  border: 1px solid violet;
  color: blue;
  height: 35px;
  vertical-align: center;
}

tr:hover th,
tr:hover td {
  background: grey;
}

div {
  width: 450px;
  /* height: 100px; */
  overflow: hidden;
  overflow-x: auto;
  overflow-y: scroll;
}